@model Entity.GuarderiaEntity

@using Newtonsoft.Json;

@{ var TypeForm = ViewBag.Form as bool?; }

<model data-entity="@JsonConvert.SerializeObject(Model.guarderia)" />

<div class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Guarderia" : "Nueva Guarderia")</h4>

                    <form action="/Guarderia/Save" method="post">
                        <input type="hidden" name="IdGuarderia" id="IdGuarderia" v-model="@Model.IdGuarderia" />


                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreGuarderia" id="NombreGuarderia" v-model="model.NombreGuarderia" required />
                            <label for="NombreGuarderia"> Nombre Guarderia</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DiaDeLaSemanaGuarderia" id="DiaDeLaSemanaGuarderia" v-model="model.DiaDeLaSemanaGuarderia" required />
                            <label for="DiaDeLaSemanaGuarderia"> Dia De La Semana Guarderia</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="HoraDeComienzoGuarderia" id="HoraDeComienzoGuarderia" v-model="model.HoraDeComienzoGuarderia" required />
                            <label for="HoraDeComienzoGuarderia"> Hora De Comienzo Guarderia</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="ProfesorResponsableGuarderia" id="ProfesorResponsableGuarderia" v-model="model.ProfesorResponsableGuarderia" required />
                            <label for="ProfesorResponsableGuarderia"> Profesor Responsable Guarderia</label>
                        </div>


                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}


                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>


@section scripts{

    <script src="~/Scripts/Guarderia/Edit.js"></script>

}
