@{ Layout = "~/Views/Shared/_LayoutLogin.cshtml";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Form-v8 by Colorlib</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/sourcesanspro-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Assets/css/style.css" />
</head>
<body class="form-v8">
    <div id="LoginUsuario" class="page-content">
        <div class="form-v8-content">
            <div class="form-left">
                <img src="images/TAGA.png" alt="form">
            </div>
            <div class="form-right">
                <div class="tab">

                    <div class="tab-inner">
                        <button class="tablinks" id="defaultOpen">Iniciar Sesión</button>
                    </div>
                    <div class="tab-inner">
                        <button class="tablinks" onclick="window.location.href = '/Login/Registrarse';">Registrarse</button>
                    </div>
                </div>

                <form class="form-detail" action="#" method="post">
                    <div class="tabcontent" id="sign-in">
                        <div class="form-row">
                            <label class="form-row-inner">
                                <input type="text" class="input-text" id="Usuario" placeholder="Nombre" v-model="Model.Usuario" required>
                                <span class="label">Usuario</span>
                                <span class="border"></span>
                            </label>
                        </div>
                        <div class="form-row">
                            <label class="form-row-inner">
                                <input type="password" class="input-text" id="Contrasena" placeholder="Contraseña" v-model="Model.Contrasena" required>
                                <span class="label">Contraseña</span>
                                <span class="border"></span>
                            </label>
                        </div>
                        <div class="form-row-last">
                            <button type="button" @@click="LoginUsuario" class="btn btn-light">Entrar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <script src="~/Scripts/Login/Login.js"></script>

</body>
</html>

